<html>
<head></head>
<body>
  <p>Use this form to add a new countdown milestone.</p>

  <form action="/milestone/new" method="POST">

    <label for="time">Time:</label>
    <input id="time" type="text" name="time"/>
    <br/>
    <label for="time">Description:</label>
    <input id="description" type="text" name="statement"/>
    <br/>
    <input type="submit" name="submitbutton" value="Add"/>
  </form>

</body>
</html>
