<html>
<head></head>
<body></body>

Choose your launch process:

<form action="/launch/start" method="POST">
  <select name="launchid">
    <option value="0">Falcon-9 Rocket</option>
    <option value="1">LHL Lecture</option>
  </select>
  <input type="submit" name="launch" value="Launch"/>
</form>

</html>
