<html>
<head></head>
<body>
  <% for (let ii = 0; ii < script.length; ii++) { %>
    <p><span>T-Minus <%= script[ii].time %></span>:&nbsp;<%= script[ii].statement %></p>
  <% } %>
</body>

<a href="/launch/start/<%= launchid %>">Start Launch</a>

</html>
